.navbar-custom {
    background: rgba(0, 0, 0, 0.49);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
.navbar-custom .logo {
    display: flex;
    gap: 1rem;
    color: #fff;
    cursor: pointer;
}
.navbar-custom .refresh {
    cursor: pointer;
    margin: auto;
}
.navbar-custom .refresh i {
    align-items: center;
    background: #fff;
    color: black;
    border-radius: 50%;
    padding: 0.55rem
}
.input-group {
    background: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
.weather-icon {
    width: 40px;
    height: 40px;
    margin: 0.7rem 0.5rem;
}
.card-container {
    text-align: center;
    width: fit-content;
}
.card {
    color: #fff;
    background: linear-gradient(180deg, #464646 0%, #1D2540 100%);
}
.card-logo {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 0;
    margin: 0;
    padding: 0;
}
.list-group {
    text-decoration: none;
}
.list-group-text {
    list-style-type: none;
    color: #fff;
    background: transparent;
    text-decoration: none;
    margin: 0.4rem auto 0;
    font-size: 0.8rem;
}
@media (min-width: 576px) {
    .list-group-text {
        font-size: 1rem;
    }
}
.date-picker-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(217, 217, 217, 1);
    margin: auto;
    width: fit-content;
    padding: 0.4rem;
    border: 1px solid black;
    border-radius: 5px;
}
.custom-date-picker {
    margin-left: 0.3rem;
    background: transparent;
    border: none;
    width: 100px;
}
@media (max-width: 576px) {
    .custom-date-picker {
        font-size: 0.8rem;
        width: 80px;
    }
}
.forecast-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 1rem;
}
.search-bar {
    background: transparent;
}
.form-control {
    font-style: italic;
}
.logo p {
    margin: auto;
}
.logo.rotate {
    transition: transform 0.5s ease-in-out;
}
  
.logo.rotate:hover {
    transform: rotate(360deg);
}
  
.fa-rotate-right.spin {
    animation: spin 1s infinite linear;
}
  
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
.refresh {
    margin-left: auto;
}
@media (max-width: 576px) {
    .refresh {
        padding-left: 0.5rem;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        border-left: 2px solid grey;
    }
}
.forecast-missing {
    margin: auto;
    text-align: center;
}
.forecast-missing img {
    margin: auto;
    max-width: 15rem;
    border-radius: 100%;
}
@media (max-width: 576px) {
    .forecast-missing img {
        width: 100%;
    }
}
.notice, .forecast-missing p {
    margin: 1rem auto 0;
    color: grey;
}
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
}
.liveLocation {
    position: absolute;
    bottom: 0;
    right: 5%;
    color:rgb(201, 40, 40);
    animation: blink 1.5s infinite;
}

/* Styling for the suggestion drop down */
.suggestion-container {
    position: relative;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px; 
    overflow-y: auto;
  }
  
  .suggestion-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .suggestion-list li {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .suggestion-list li:hover {
    background-color: #f0f0f0;
  }
  