@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
body {
  margin: 0;
  overflow: hidden !important;
  line-height: normal;
  background: radial-gradient(50% 50% at 50% 50%, #E0E8F1 0%, #BFCAD6 100%);
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-quicksand: Quicksand;

  /* font sizes */
  --font-size-sm: 0.88rem;
  --font-size-lg: 1.13rem;
  --font-size-lgi: 1.19rem;
  --font-size-mini: 0.94rem;

  /* Colors */
  --color-darkslategray-100: #444;
  --color-gray-100: rgba(255, 255, 255, 0.2);
  --color-white: #fff;

  /* Border radiuses */
  --br-6xs: 7px;
}
